<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ulockd-pmz">
                <div class="cd-hero">
                    <ul class="cd-hero-slider autoplay">
                        <li class="selected">
                            <div class="cd-full-width">
                                <h1>We Are <span class="text-thm2"> Corona Care Coalition</span></h1>
                                <h2>Supporting each other to overcome the Covid-19 pandemic.</h2>
<!--									<a href="#0" class="cd-btn btn btn-default ulockd-btn-thm2">Our Event</a>
                                <a href="#0" class="cd-btn btn btn-default ulockd-btn-styledark">Get Quote</a>-->
                            </div> <!-- .cd-full-width -->
                        </li>

                        <li>
                            <div class="cd-full-width">
                                <h1>We Are <span class="text-thm2"> Corona Care Coalition</span></h1>
                                <h2>Working together today for a stronger tomorrow</h2>
<!--									<a href="#0" class="cd-btn btn btn-default ulockd-btn-thm2">Our Mission</a>
                                <a href="#" class="cd-btn btn btn-default ulockd-btn-thm2">Learn More</a>-->
                            </div> <!-- .cd-half-width -->
                        </li>

                        <li>

                            <div class="cd-full-width">
                                <h1>We Are <span class="text-thm2"> Corona Care Coalition</span></h1>
                                <h2>Helping hands in times of need</h2>
                                <!-- <h4>Give a helping hand to those who need it!</h4> -->
<!--									<a href="#0" class="cd-btn btn btn-default ulockd-btn-thm2">About Us</a>
                                <a href="#0" class="cd-btn btn btn-default ulockd-btn-thm2">Learn More</a>-->
                            </div> <!-- .cd-full-width -->

                        </li>
                    </ul> <!-- .cd-hero-slider -->

<!--
                    <div class="cd-slider-nav">
                        <nav>
                            <span class="cd-marker item-1"></span>

                            <ul>
                                <li class="selected"><a href="#0"></a></li>
                                <li><a href="#0"></a></li>
                                <li><a href="#0"></a></li>
                            </ul>
                        </nav>
                    </div>  .cd-slider-nav 
-->
                </div>
            </div>
        </div>
    </div>
</div>