{% load static %}
<section class="ulockd-about2" style="padding: 20px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7" style="padding-top: 80px">
                <div class="ulock-about">
                    <h2 class="title-bottom ulockd-mrgn630">About the <span class="text-thm2"> About the Corona Care Coalition</span></h2>
                    <p>We are a collective of individuals, activist groups and non-profit organisations that are working together to help the members of our community during this Covid-19 crisis. It is hoped that buy pooling our resources in support of the strained public and private enterprises that . is the pandemic intensifies, the need for broader support will grow as exponentially as the number Covid-19 cases does as well. The Corona Care Coalition is up to the challenge, supporting those who need it as they need it.</p>
                    <p>Currently Corona Care Coalition (3C) services are available in Simoce County, Ontario. Pending the success of our organsiational abilities and support of local citizens and politicians, we are hoping to expand the coalitions reach to include the entire province of Ontario and eventually Canada as a whole. If you are from outside Simcoe County and interested in getting involved send us an email and we'll be in touch with you right away to discuss how you can help in your region.</p>
                
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="ulockd-about-box ulockd-mrgn1260">
                    <div class="ab-thumb">
                        <img class="img-responsive img-whp" src="{% static 'images/about/1.jpg' %}" alt="1.jpg">
                    </div>
                    <p class="text-center ulockd-mrgn1210"></p>
                </div>
            </div>
        </div>
    </div>
</section>