{% load static %}
<section class="ulockd-team">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="ulockd-main-title">
                    <h2 class="text-uppercase">Coalition <span class="text-thm2">Members</span></h2>
                    <h4>Meet our team behind this initiative</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ulockd-team-member">
                    <div class="team-thumb">
                        <img class="img-responsive img-whp" src="{% static 'images/team/1.jpg' %}" alt="team1.jpg">
                        <div class="team-overlay">
                            <ul class="list-inline team-icon style2">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                        </div>
                    </div>
                    <div class="team-details text-left">
                        <h3 class="member-name">Simcoe County Greenbelt Coalition</h3>
                        <!-- <h5 class="member-post">- Title</h5>
                        <p>Lorem ipsum dolor sit amet, esse consectetur adipisicing elit.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ulockd-team-member">
                    <div class="team-thumb">
                        <img class="img-responsive img-whp" src="{% static 'images/team/2.jpg' %}" alt="2.jpg">
                        <div class="team-overlay">
                            <ul class="list-inline team-icon style2">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                        </div>
                    </div>
                    <div class="team-details text-left">
                        <h3 class="member-name">Ontario SPCA and Humane Society</h3>
                        <!-- <h5 class="member-post">- Title</h5>
                        <p>Lorem ipsum dolor sit amet, esse consectetur adipisicing elit.</p> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="ulockd-team-member">
                    <div class="team-thumb">
                        <img class="img-responsive img-whp" src="{% static 'images/team/3.jpg' %}" alt="3.jpg">
                        <div class="team-overlay">
                            <ul class="list-inline team-icon style2">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                        </div>
                    </div>
                    <div class="team-details text-left">
                        <h3 class="member-name">Jhon Smith</h3>
                        <h5 class="member-post">- Title</h5>
                        <p>Lorem ipsum dolor sit amet, esse consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="ulockd-team-member">
                    <div class="team-thumb">
                        <img class="img-responsive img-whp" src="{% static 'images/team/6.jpg' %}" alt="4.jpg">
                        <div class="team-overlay">
                            <ul class="list-inline team-icon style2">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                        </div>
                    </div>
                    <div class="team-details text-left">
                        <h3 class="member-name">Jhon Smith</h3>
                        <h5 class="member-post">- Title</h5>
                        <p>Lorem ipsum dolor sit amet, esse consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>