{% load static %}
<section class="ulockd-about2" style="padding: 20px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="ulockd-about-box ulockd-mrgn1260">
                    <div class="ab-thumb">
                        <img class="img-responsive img-whp" src="{% static 'images/about/urgent.jpg' %}" alt="1.jpg">
                    </div>
                    <p class="text-center ulockd-mrgn1210"></p>
                </div>
            </div>
            <div class="col-sm-12 col-md-7" style="padding-top: 80px">
                <div class="ulock-about">
                    <h2 class="title-bottom ulockd-mrgn630">Simcoe North Senior Care Centres in Need of <span class="text-thm2"> Volunteers</span></h2>
                    <p>With the unfortunate outbreaks in a series of Senior Care Fascilities in Simcoe North, staff have also become infected and the fascilities are currently short staffed as a result and looking for community help to meet the needs of those under their care. If you have any background in long term care and are willing to help, contact us here or contact the fascilities directly at 715-777-777</p>
                
                </div>
            </div>
        </div>
    </div>
</section>