<section class="service1 ulockd-bgthm">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-6 col-md-4 ulockd-pad395">
                <figure class="fclmn-one">
                    <div class="caption">
                        <div class="fc-icon"><span class="flaticon-raise-your-hand-to-ask"></span></div>
                        <h5>Become a 3C Member</h5>
                        <h3>As a Volunteer</h3>
                        <a href="{% url 'register'%}">

                            <button type="submit" class="btn btn-default ulockd-btn-styledark">Join Us</button>
                        </a>
                    </div>
                </figure>
            </div>
            <!-- <div class="col-sm-6 col-md-4 ulockd-pad395">
                <figure class="fclmn-one two">
                    <div class="caption">
                        <div class="fc-icon"><span class="flaticon-make-a-donation"></span></div>
                        <h5>Be a CareClub Member</h5>
                        <h3>Donate Help Cards</h3>
                        <button type="submit" class="btn btn-default ulockd-btn-styledark" data-toggle="modal" data-target=".bs-example-modal-default" data-toggle="modal" data-target=".bs-example-modal-default">Donate now</button>
                    </div>
                </figure>
            </div> -->
            <div class="col-sm-6 col-md-4 ulockd-pad395">
                <figure class="fclmn-one three">
                    <div class="caption">
                        <div class="fc-icon"><span class="flaticon-donation"></span></div>
                        <h5>Be a CareClub Member</h5>
                        <h3>As a Fundraiser</h3>
                        <button type="submit" class="btn btn-default ulockd-btn-styledark">Read More</button>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4 ulockd-pad395">
                <figure class="fclmn-one four">
                    <div class="caption">
                        <div class="fc-icon"><span class="flaticon-dove-of-peace"></span></div>
                        <h5>Be a CareClub Member</h5>
                        <h3>As a Sponsor</h3>
                        <button type="submit" class="btn btn-default ulockd-btn-styledark">Read More</button>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>