{% load static %}
<section class="ulockd-about2" style="padding: 20px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7" style="padding-top: 80px">
                <div class="ulock-about">
                    <h2 class="title-bottom ulockd-mrgn630">About<span class="text-thm2"> CareClub</span></h2>
                    <p>CareClub Is a Most Charity/ Non-profit/ Fundraising/ NGO organizations. Now CareClub Is a Biggest organizations In This Globe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repudiandae sunt delectus praesentium adipisci voluptatem sed, consectetur! Optio quis alias necessitatibus quidem dolore est nobis iusto, doloremque, velit vel, eligendi excepturi iure quas dignissimos eius.</p>
                    <p>Consectetur adipisicing elit. Assumenda in, animi facere illum culpa autem minima nostrum doloribus dignissimos!</p>
                
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="ulockd-about-box ulockd-mrgn1260">
                    <div class="ab-thumb">
                        <img class="img-responsive img-whp" src="{% static 'images/about/1.jpg' %}" alt="1.jpg">
                    </div>
                    <p class="text-center ulockd-mrgn1210"></p>
                </div>
            </div>
        </div>
    </div>
</section>