<section id="project" class="our-projects">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="ulockd-main-title">
                    <h2 class="text-uppercase" ><span style="color: green">Green</span> <span  style="color: red!important">Red</span> <span class="text-thm2">Initiave</span></h2>
                    <h4>Your Attention Is Changed The Part Of World.Give a helping hand to those who need it, in your community!</h4>


                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="project-box">
                <div class="col-sm-4 col-md-2 pb-thumb ulockd-pad395" style="background-color: green; height: 185px; width: 185px;">
<!--						<img class="img-responsive img-whp" style="back" src="images/project/1a.jpg" alt="1a.jpg">-->
<!--						<div class="donate-button"><a href="#" class="btn ulockd-btn-thm2" data-toggle="modal" data-target=".bs-example-modal-default">Donate now</a></div>-->
                </div>
                <div class="col-sm-8 col-md-4 pb-details">
                    <h3 style="color: green">We are OK</h3>
                    <p>Consectetur adipisicing elit</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore modi repellendus aspernatur necessitatibus quidem nostrum, iure illum perferendis.</p>
<!--						<a href="#" class="">More Details <span class="flaticon-right-arrow"></span></a>-->
                </div>
            </div>
            <div class="project-box">
                <div class="col-sm-4 col-md-2 pb-thumb ulockd-pad395" style="background-color: red; height: 185px; width: 185px;">
<!--						<img class="img-responsive img-whp" src="images/project/2a.jpg" alt="2a.jpg">-->
<!--						<div class="donate-button"><a href="#" class="btn ulockd-btn-thm2" data-toggle="modal" data-target=".bs-example-modal-default">Donate now</a></div>-->
                </div>
                <div class="col-sm-8 col-md-4 pb-details">
                    <h3 style="color: red">Not OK, Please help!</h3>
                    <p>Consectetur adipisicing elit</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore modi repellendus aspernatur necessitatibus quidem nostrum, iure illum perferendis.</p>
<!--						<a href="#" class="">More Details <span class="flaticon-right-arrow"></span></a>-->
                </div>
            </div>
        </div>

    </div>
</section>