{% load static %}

<section class="ulockd-causes">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="ulockd-main-title">
                    <h2 class="text-uppercase"><span class="text-thm2">Become a 3C Member.</span> Join us, your attention changes part of the world..</h2>
                    <h4>Join the Corona Care Coalition to make a life saving change for someone in your community today.</h4>
                    <blockquote style="border-left: 5px solid #ffb606; text-align: left;">"Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has." -Margaret Mead</blockquote>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs fcauses-tab" role="tablist">
                          <li role="presentation" class="active"><a href="#fcauses" aria-controls="fcauses" role="tab" data-toggle="tab">How could we help</a></li>
                          <li role="presentation"><a href="#rcauses" aria-controls="rcauses" role="tab" data-toggle="tab">Few Stories</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="fcauses">
                            <div class="col-sm-4 col-md-4 fservice-box ulockd-pad395">
                                <div class="db-thumb">
                                    <img class="img-responsive img-whp" src="{% static 'images/causes/1.jpg' %}" alt="1.jpg">
                                    <div class="db-overlayer"></div>
                                </div>
                                <div class="db-details text-left">
                                    <div class="progress-levels ulockd-mrgn1210">

                                    </div>

                                    <h3>Care For Food</h3>
                                    <p>Care, institutional and modern clothing offices clean extensive amounts of textures in an extensive.</p>
                                    <ul class="list-inline">
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 fservice-box ulockd-pad395">
                                <div class="db-thumb">
                                    <img class="img-responsive img-whp" src="{% static 'images/causes/2.jpg' %}" alt="2.jpg">
                                    <div class="db-overlayer"></div>
                                </div>
                                <div class="db-details text-left">
                                    <div class="progress-levels ulockd-mrgn1210">

                                    </div>

                                    <h3>Care For Health</h3>
                                    <p>Care, institutional and modern clothing offices clean extensive amounts of textures in an extensive.</p>
                                    <ul class="list-inline">
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 fservice-box ulockd-pad395">
                                <div class="db-thumb">
                                    <img class="img-responsive img-whp" src="{% static 'images/causes/3.jpg' %}" alt="3.jpg">
                                    <div class="db-overlayer"></div>
                                </div>
                                <div class="db-details text-left">
                                    <div class="progress-levels ulockd-mrgn1210">

                                    </div>

                                    <h3>Care For Pets</h3>
                                    <p>Care, institutional and modern clothing offices clean extensive amounts of textures in an extensive.</p>
                                    <ul class="list-inline">
                                    </ul>
                                </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane rcauses" id="rcauses">
                              <div class="media fstory">
                                <div class="col-sm-6 col-md-4 ulockd-pad395">
                                    <div class="history-thumb">
                                        <a href="#"><img class="img-responsive img-whp" src="{% static 'images/causes/4.jpg' %}" alt="4.jpg"></a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-8 ulockd-pad395">
                                    <div class="media-body history-details">
                                        <h4 class="media-heading">John Helped his Neighbour get groceries.</h4>
                                        <p>Consectetur adipisicing elit. Magni, dicta optio dolore nemo! Repudiandae magni, dolor a ipsa perspiciatis, at ab sapiente, delectus praesentium voluptas velit adipisci. Quisquam, in! Minus quia ipsam assumenda soluta, placeat.</p>
                                    </div>
                                </div>
                            </div>
                              <div class="media fstory">
                                <div class="col-sm-6 col-md-4 ulockd-pad395">
                                    <div class="history-thumb">
                                        <a href="#"><img class="img-responsive img-whp" src="{% static 'images/causes/8.jpg' %}" alt="8.jpg"></a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-8 ulockd-pad395">
                                    <div class="media-body history-details">
                                        <h4 class="media-heading">Everyday Food Need For Hunger People.</h4>
                                        <p>Consectetur adipisicing elit. Magni, dicta optio dolore nemo! Repudiandae magni, dolor a ipsa perspiciatis, at ab sapiente, delectus praesentium voluptas velit adipisci. Quisquam, in! Minus quia ipsam assumenda soluta, placeat.</p>
                                    </div>
                                </div>
                            </div>
                              <div class="media fstory">
                                <div class="col-sm-6 col-md-4 ulockd-pad395">
                                    <div class="history-thumb">
                                        <a href="#"><img class="img-responsive img-whp" src="{% static 'images/causes/2.jpg' %}" alt="2.jpg"></a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-8 ulockd-pad395">
                                    <div class="media-body history-details">
                                        <h4 class="media-heading">Got an elderly on my street prescription drugs .</h4>
                                        <p>Consectetur adipisicing elit. Magni, dicta optio dolore nemo! Repudiandae magni, dolor a ipsa perspiciatis, at ab sapiente, delectus praesentium voluptas velit adipisci. Quisquam, in! Minus quia ipsam assumenda soluta, placeat.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>