{% load static %}

<div class="header-middle">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-3">
                <div class="ulockd-welcm-hmddl">
                  <a href="index.html" class="ulockd-main-logo"><img src="{% static 'images/header-logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="ulockd-ohour-info style2">
                  <div class="ulockd-icon pull-left text-thm2"><span class="flaticon-email-filled-closed-envelope"></span></div>
                  <div class="ulockd-info">
                      <h3>Mail Us</h3>
                      <p class="ulockd-addrss"><strong>Email:</strong> info@email.com</p>
                  </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-3">
              <div class="ulockd-ohour-info style2">
                  <div class="ulockd-icon pull-left text-thm2"><span class="flaticon-old-handphone"></span></div>
                  <div class="ulockd-info">
                      <h3>Call Us</h3>
                      <p class="ulockd-addrss">+1 647 575 5754</p>
                  </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-3">
              <div class="ulockd-ohour-info style2">
                  <div class="ulockd-icon pull-left text-thm2"><span class="flaticon-raise-your-hand-to-ask"></span></div>
                  <div class="ulockd-info">
                      <!-- Trigger the modal with a button -->
                      <a href="{% url 'register'%}">

                          <button type="button" class="btn btn-lg ulockd-btn-thm2 ulockd-mrgn1215 ulockd-mrgn610"  >Volunteer</button>
                      </a>
                      <!-- Modal -->

                  </div>
              </div>
            </div>
        </div>
    </div>
</div>